.photo {
    border: none;
    display: inline-block;
}
.photo:hover {
    size: calc(inherit + 12px);
}

.photoContainer {
    display: block;
}

.viewPhoto {
    width: 100%;
    height: 100%;
}

.leftSide {
    
}

@media (max-width: 600px) {
    .photo {
        width: 90%;
        margin: 5%;
    }
}